<template>
  <v-app>
    <v-content>
      <v-container fill-height>
        <v-layout
          text-xs-center
          wrap
          align-center
          justify-center
        >
          <v-flex xs12 align-self-end>
            <v-img
              class="coffee-icon"
              :src="require('./assets/coffee.svg')"
              contain
              height="200"
            ></v-img>
          </v-flex>
          <v-flex xs12 align-self-start>
            <span class="coffee">
              Est-ce que c'est l'heure du café?
            </span>
            <br />
            <span class="coffee">
              {{ displayed }}
            </span>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data () {
    return {
      displayed: '',
      notifications: [
        {
          timeRangeStart: new Date('2000-01-01T10:00:00'),
          timeRangeEnd: new Date('2000-01-01T10:01:00'),
          sentences: [
            'C\'est l\'heure d\'aller prendre un petit café pour te sortir la tête du cul!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T11:00:00'),
          timeRangeEnd: new Date('2000-01-01T11:01:00'),
          sentences: [
            'C\'est l\'heure d\'aller prendre un petit café!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T12:15:00'),
          timeRangeEnd: new Date('2000-01-01T12:16:00'),
          sentences: [
            'C\'est l\'heure d\'aller te remplir le bide!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T13:45:00'),
          timeRangeEnd: new Date('2000-01-01T13:46:00'),
          sentences: [
            'Si t\'as oublié de prendre un café ce midi c\'est l\'heure d\'y retourner!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T16:00:00'),
          timeRangeEnd: new Date('2000-01-01T16:01:00'),
          sentences: [
            'C\'est l\'heure de prendre un café et d\'aller mater les petits culs!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T18:30:00'),
          timeRangeEnd: new Date('2000-01-01T18:31:00'),
          sentences: [
            'C\'est l\'heure de rentrer chez toi et de checker les dernières vidéos de LeoLulu!'
          ]
        }
      ],
      responses: [
        {
          timeRangeStart: new Date('2000-01-01T00:00:00'),
          timeRangeEnd: new Date('2000-01-01T09:00:00'),
          sentences: [
            'Si tu viens de sortir ta tête de ton cul, c\'est le moment de prendre un bon petit café!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T09:00:00'),
          timeRangeEnd: new Date('2000-01-01T10:00:00'),
          sentences: [
            'C\'est l\'heure du premier café de la journée!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T10:00:00'),
          timeRangeEnd: new Date('2000-01-01T11:00:00'),
          sentences: [
            'C\'est le moment de bosser un peu avant la prochaine pause!',
            'Tu ne viens pas d\'en prendre un?'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T11:00:00'),
          timeRangeEnd: new Date('2000-01-01T12:00:00'),
          sentences: [
            'C\'est toujours l\'heure pour un petit café!',
            'Une pause ça fait pas de mal!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T12:00:00'),
          timeRangeEnd: new Date('2000-01-01T13:30:00'),
          sentences: [
            'T\'as pas la dale à cette heure?',
            'C\'est l\'heure de la pizza!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T13:30:00'),
          timeRangeEnd: new Date('2000-01-01T14:15:00'),
          sentences: [
            'C\'est l\'heure de la petite pause café après la pause déjeuner!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T14:15:00'),
          timeRangeEnd: new Date('2000-01-01T15:30:00'),
          sentences: [
            'Pas vraiment mais si t\'es là c\'est que t\'en as plein le cul de bosser',
            'Tu viens à peine de te mettre à bosser fainéant!',
            'Dans 30 minnutes, courage!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T15:30:00'),
          timeRangeEnd: new Date('2000-01-01T16:00:00'),
          sentences: [
            'Encore quelques minutes à rien branler, c\'est bientôt la pause',
            'Pas encore mais il y a peut-être de jolies nanas qui t\'attendent dehors',
            'Bientôt 16h, courage!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T16:00:00'),
          timeRangeEnd: new Date('2000-01-01T17:00:00'),
          sentences: [
            'C\'est l\'heure, s\'il fait beau tu pourras même mater des petits culs dehors!',
            'Même si t\'as rien branlé de la journée, c\'est l\'heure de la pause'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T17:00:00'),
          timeRangeEnd: new Date('2000-01-01T18:00:00'),
          sentences: [
            'Pas vraiment mais une petite pose avant de partir ça peut pas faire de mal!',
            'Ca serait bien de bosser un peu avant de partir!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T18:00:00'),
          timeRangeEnd: new Date('2000-01-01T19:00:00'),
          sentences: [
            'Rentre chez toi vilain galopin!'
          ]
        },
        {
          timeRangeStart: new Date('2000-01-01T19:00:00'),
          timeRangeEnd: new Date('2000-01-01T23:59:59'),
          sentences: [
            'C\'est l\'heure d\'aller dormir!',
            'Une branlette et dodo!'
          ]
        }
      ]
    }
  },
  mounted: function () {
    if (Notification.permission !== 'granted') {
      Notification.requestPermission()
    }
    this.planDisplayedUpdating()
    this.planNotificationSending()
  },
  methods: {
    updateSentence: function () {
      const selectedResponse = this.responses.filter(this.isInTimeRange)[0]
      const selectedSentences = selectedResponse.sentences
      this.displayed = selectedSentences[Math.floor(Math.random() * selectedSentences.length)]
    },
    isInTimeRange: function (response) {
      const date = new Date()
      date.setFullYear(2000)
      date.setMonth(0)
      date.setDate(1)
      return response.timeRangeStart <= date && response.timeRangeEnd > date
    },
    planDisplayedUpdating: function () {
      this.updateSentence()
      setInterval(this.updateSentence, 60000)
    },
    sendNotifications: function () {
      const selectedNotifications = this.notifications.filter(this.isInTimeRange)
      if (selectedNotifications.length !== 0) {
        const selectedNotification = selectedNotifications[0]
        const notification = new Notification('Coffee time!', {
          icon: 'img/icons/android-chrome-192x192.png',
          body: selectedNotification.sentences[Math.floor(Math.random() * selectedNotification.sentences.length)]
        })
        notification.onclick = function () {
          window.open('.')
        }
      }
    },
    planNotificationSending: function () {
      this.sendNotifications()
      setInterval(this.sendNotifications, 60000)
    }
  }
}
</script>

<style>
  .coffee {
    text-transform: none;
    font-size: 1.5em;
    letter-spacing: 1px;
    margin-top: 3em;
    display: block;
  }

  .coffee-icon {
    margin-bottom: 3em;
  }
</style>
